@import url(../place/place.css);

.places {
  display: flex;
  gap: 80px;
  flex-direction: column;
  margin: auto;
  max-width: 984px;
}

@media all and (max-width: 1024px) {
  .places {
    max-width: 924px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media all and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}