.footer__menu {
  display: flex;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
}

@media all and (max-width: 768px) {
  .footer__menu {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media all and (max-width: 600px) {
  .footer__menu {
    flex-direction: column;
    gap: 18px;
  }
}

@media all and (max-width: 320px) {
  .footer__menu {
    padding-left: 16px;
    gap: 48px;
  }
}
