.place__info {
  display: flex;
  gap: 40px;
}

@media all and (max-width: 1024px) {
  .place__info {
    gap: 32px;
  }
}

@media all and (max-width: 768px) {
  .place__info {
    gap: 28px;
  }
}

@media all and (max-width: 320px) {
  .place__info {
    flex-direction: column;
    gap: 32px;
  }
}