.cover__title {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  width: 560px;
  height: 152px;
  margin: 0;
  margin-bottom: 32px;
}

@media all and (max-width: 320px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.1;
    width: 288px;
    height: 70px;
    margin-bottom: 16px;
  }
}