.container {
  display: flex;
  flex-direction: column;
  max-width: 984px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
  max-width: 924px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media all and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}